/*Variables*/
@media only screen and (max-width: 991px) {
  /*Event Navigation*/
  #left {
    display: none; }

  .header .right ul.top-nav {
    display: none; }

  .event-nav-mobile ul {
    margin-left: 0; }
    .event-nav-mobile ul li {
      display: block; }
  .event-nav-mobile a {
    font-size: 1.6rem;
    color: #222;
    text-decoration: none;
    height: 4rem;
    line-height: 4rem;
    display: block;
    padding: 0;
    padding-left: 2rem; }
    .event-nav-mobile a:hover {
      background: #999; }
  .event-nav-mobile hr {
    width: 85%;
    margin: 2rem auto; }
  .event-nav-mobile .mobile-nav-title {
    padding-left: 2rem;
    margin-top: 2rem; }

  .event-nav {
    display: none; }

  .event-title {
    display: none; }

  .toggle-panel {
    display: block; }

  #site-canvas {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  #nav-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 2rem;
    margin: 3rem auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    #nav-icon p {
      position: relative;
      left: -5rem;
      font-family: "opensans";
      font-size: 1.4rem; }

  #nav-icon span {
    display: block;
    position: absolute;
    height: .4rem;
    width: 100%;
    background: #222;
    border-radius: .4rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

  #nav-icon span:nth-child(1) {
    top: 0px; }

  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 1rem; }

  #nav-icon span:nth-child(4) {
    top: 2rem; }

  #nav-icon.open span:nth-child(1) {
    top: 1.8rem;
    width: 0%;
    left: 50%; }

  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  #nav-icon.open span:nth-child(4) {
    top: 1.8rem;
    width: 0%;
    left: 50%; }

  #container #left {
    width: 0; }
  #container #right {
    width: 100%;
    padding-right: 0; }
  #container #social {
    display: none; } }
@media only screen and (min-width: 992px) {
  .event-nav-mobile {
    display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer .footer-grid {
    max-width: 90%;
    grid-template-columns: repeat(4, 25%); }
  footer .foot-events .event {
    grid-template-areas: "event-img event-content";
    grid-template-columns: 30% 70%;
    grid-gap: 0.5rem 1rem;
    margin-bottom: 2rem; }
    footer .foot-events .event .event-img {
      grid-column: 1; }
      footer .foot-events .event .event-img img {
        width: 100%; }
    footer .foot-events .event .event-content {
      grid-column: 2; }
  footer .foot-copyright {
    text-align: left;
    grid-column: 1/span 2; } }
@media only screen and (max-width: 768px) {
  #container #left {
    width: 100%; }
  #container #right {
    width: 100%;
    padding: 0 2rem; }
  #container #social {
    display: none; }

  /*Top Navigation*/
  .header {
    display: block;
    margin-bottom: 2.4rem;
    position: fixed;
    z-index: 9999999;
    background: #fff;
    height: 8rem;
    left: 50%;
    top: 0%;
    transform: translateX(-50%); }
    .header .left {
      width: 100%;
      display: block;
      float: none; }
      .header .left .logo {
        margin: 1rem 0 0 1rem;
        max-width: 15rem;
        text-align: center; }
        .header .left .logo img {
          max-width: 13rem; }
    .header .right {
      width: 100%;
      display: block;
      float: none; }

  .header .right ul.top-nav {
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 5rem;
    display: table;
    font-size: 1.6rem;
    display: none; }

  .header .right ul.top-nav li:not(:last-child) {
    margin-right: 2rem;
    padding-right: 2rem;
    border-right: 1px solid #dbdbdb; }

  /*Main Content*/
  #right {
    width: 100%;
    float: none; }
    #right .topcontent {
      height: auto; }
      #right .topcontent img {
        height: 100%; }
    #right .headline {
      font-size: 4rem;
      text-align: left; }
    #right .tcycle {
      height: 40rem; }
    #right .box-fade {
      opacity: 1; }

  /*Yollo Tabs*/
  .yollo-tabs .ui-widget-content {
    padding: 2rem 0;
    overflow: initial; }

  .yollo-tabs .ui-tabs-anchor {
    font-size: 2.4rem; }

  .yollo-tabs ul li > a {
    font-size: 2.4rem;
    padding: 1rem 2rem; }

  #tabs li a span {
    display: none; }

  .hotel-box-container .hotel-box {
    display: block;
    float: left; }
    .hotel-box-container .hotel-box img {
      height: 25rem;
      max-height: 30rem; }
    .hotel-box-container .hotel-box:only-child {
      width: 100%; }

  #nanoGallery {
    overflow: inherit; }

  /*Price Table*/
  .price-table {
    display: block; }
    .price-table .header {
      position: relative;
      z-index: 1; }

  /*Social Aside*/
  #social {
    display: none; }

  .disclosure {
    width: 100%;
    display: block;
    overflow: hidden; }

  .content .form,
  .content .forminfo {
    width: 100%; }

  footer .footer-grid {
    max-width: 90%;
    grid-template-columns: repeat(2, 50%); }
  footer .foot-events {
    grid-column: 1;
    grid-row: 1; }
    footer .foot-events .event {
      grid-template-areas: "event-img event-content";
      grid-template-columns: 30% 70%;
      grid-gap: 0.5rem 1rem;
      margin-bottom: 2rem; }
      footer .foot-events .event .event-img {
        grid-column: 1; }
        footer .foot-events .event .event-img img {
          width: 100%; }
      footer .foot-events .event .event-content {
        grid-column: 2; }
  footer .foot-contact {
    grid-column: 2;
    grid-row: 1; }
  footer .foot-sponsor {
    grid-column: 1;
    grid-row: 2; }
  footer .foot-about {
    grid-column: 2;
    grid-row: 2; }
  footer .foot-copyright {
    text-align: left;
    grid-column: 1/span 2;
    grid-row: 3; } }
@media only screen and (max-width: 480px) {
  .rslides {
    width: 100%;
    height: 20rem;
    margin-bottom: 1.6rem; }

  #upcoming-events .event {
    width: 100%; }

  #right .tcycle {
    height: 20rem; }

  #right .content .date-location {
    font-size: 1.4rem;
    flex-direction: column; }
    #right .content .date-location .col:nth-child(1) {
      border: none; }

  #right .content h2.title {
    margin-bottom: 2rem; }

  #package-info-box .ccs {
    font-size: 4rem;
    width: 3rem;
    height: 2rem;
    line-height: 3rem; }

  .hotel-box-container {
    width: 100%;
    grid-gap: 2rem 0; }
    .hotel-box-container .hotel-box:first-child {
      grid-column: 1;
      grid-row: 1; }
    .hotel-box-container .hotel-box:last-child {
      grid-column: 1;
      grid-row: 2; }
    .hotel-box-container .hotel-box:only-of-type {
      grid-column: 1;
      grid-row: 1; }
    .hotel-box-container .hotel-box img {
      height: 15rem;
      max-height: 20rem; }

  /*Price Table*/
  .price-table-container {
    grid-template-columns: 100%;
    grid-gap: 2rem 0; }
    .price-table-container .price-table:first-child {
      grid-column: 1;
      grid-row: 1; }
    .price-table-container .price-table:last-child {
      grid-column: 1;
      grid-row: 2; }
    .price-table-container .price-table:only-of-type {
      grid-column: 1;
      grid-row: 1; }

  /*Footer*/
  footer .footer-grid {
    grid-template-columns: 100%;
    grid-template-areas: "foot-events" "foot-contact" "foot-sponsor" "foot-about";
    grid-gap: 2rem 2rem;
    max-width: 90%; }
  footer .foot-events {
    grid-column: 1;
    grid-row: 1; }
    footer .foot-events .event {
      grid-template-areas: "event-img event-content";
      grid-template-columns: 30% 70%;
      grid-gap: 0 1.5rem;
      margin-bottom: 2rem; }
  footer .foot-contact {
    grid-column: 1;
    grid-row: 2; }
  footer .foot-sponsor {
    grid-column: 1;
    grid-row: 3; }
  footer .foot-about {
    grid-column: 1;
    grid-row: 4; }
  footer .foot-copyright {
    grid-column: 1;
    grid-row: 5; }
  footer .foot-sponsor .sponsors {
    grid-template-columns: repeat(2, 48%); }
    footer .foot-sponsor .sponsors img {
      width: 80%; } }
@media only screen and (max-width: 360px) {
  footer .footer-grid {
    max-width: 90%;
    grid-template-columns: 100%;
    grid-template-areas: "foot-events" "foot-contact" "foot-sponsor" "foot-about"; }
  footer .foot-events {
    grid-column: 1;
    grid-row: 1; }
    footer .foot-events .event {
      grid-template-areas: "event-img event-content";
      grid-template-columns: 30% 70%;
      grid-gap: 0 1.5rem;
      margin-bottom: 1rem; }
      footer .foot-events .event img {
        width: 100%; }
  footer .foot-contact {
    grid-column: 1;
    grid-row: 2; }
  footer .foot-sponsor {
    grid-column: 1;
    grid-row: 3; }
  footer .foot-about {
    grid-column: 1;
    grid-row: 4; }
  footer .foot-copyright {
    grid-column: 1;
    grid-row: 5; }
  footer .foot-sponsor .sponsors {
    grid-template-columns: repeat(3, 33%); }
    footer .foot-sponsor .sponsors img {
      width: 90%; } }
@media (min-width: 600px) {
  #container, .foot-wrap {
    width: 100%; } }
@media (min-width: 768px) {
  #container, .foot-wrap {
    width: 750px; }

  .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left; } }
@media (min-width: 992px) {
  #container, .foot-wrap {
    width: 970px; } }
@media (min-width: 1024px) {
  #container, .foot-wrap {
    width: 992px; } }
@media (min-width: 1200px) {
  #container, .foot-wrap {
    width: 1200px; } }
