/*Nano Gallery Overrides*/

.nanogallery_theme_default {
	
	.nanoGalleryContainer{
		width:100%!important;
		height: auto!important;

		display: -ms-grid;
		-ms-grid-columns:1fr 5px 1fr 5px 1fr 5px 1fr;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1rem;
		justify-items: center;
		
		.nanoGalleryThumbnailContainer {
    
			display: inline-block;
			position: initial;
			overflow: hidden;
			float: left;
			border:none; 
		}//end of thumbnail container
		
		.nanoGalleryThumbnailContainer:not(:last-of-type){
			margin-right:0;
			margin-bottom:0;
		}
		
		.nanoGalleryThumbnailContainer .subcontainer:hover{
			opacity:.6;
		}
		
		
	}//end of nano gallery container
	
}//end of nano theme default



/*Authorize.Net Seal*/
div.AuthorizeNetSeal {
    font: normal 9px arial,helvetica,san-serif;
    line-height: 10px;
    position: relative;
    top: -1rem;
    color: #fff;
	
	a {
		text-decoration: none;
		color: #fff;
		&:visited,
		&:active{
			color: #fff!important;
		}
		
		img{
			width: 80%;
    		height: 80%;
		}
	}

}

div.AuthorizeNetSeal * {
    color: #fff;
}

