/*Date Location*/

.date-location{
	font-size:1.6rem;
	display:flex;
	flex-direction:row;
	width:100%;
	margin-bottom:1.5em;
	text-transform:uppercase;
}

.date-location .col{
	color: #fff; 
	padding:10px;
	flex-basis: auto;
}

.date-location .col:nth-child(1){
	background:#6f6c6c;
	border-left: 5px solid #000;
	font-family:"opensans-lite", Arial, sans-serif;
	text-shadow: 1px 2px 1px #444;
	
}

.date-location .col:nth-child(1):before{
	font-family:"fontAwesome";
	content: "\f073";
	margin-right: 10px;
} 

.date-location .col:nth-child(2){
	background:#000; 
	flex-grow:2;
	font-family:"opensans-lite", Arial, sans-serif; 
}

.date-location .col:nth-child(2):before{
	font-family:"fontAwesome";
	content: "\f279";
	margin-right: 10px;
} 