.event-nav{
    width: 100%;
    box-sizing: border-box;
    //border-left: 5px solid $yollo-red;
    text-indent: 10px;
    padding: 0 0 10px 0;
	
	li{
		padding:0;
		display:block;
	}
}

.event-nav li a{    
	font-size: .875rem;
    line-height: 1.5;
    color: $font-color;
    text-decoration: none;
    border-bottom: none; 
    text-transform: uppercase;
    display: block;
    //height: 3em;
    padding: 10px 0;
    text-align: left;
    margin-right:0;
}

.event-nav li [class^="hvr-"]:before{
	background:$yollo-red;
}

.event-nav .active{
	background:#eee;
		a{
			font-weight:700;
			&:hover{
				color:#fff;
			}
		} 
}

.event-nav li [class^="hvr-"].active:before,
.event-nav .active:hover:before{
	background:#000;
}


/*mobile select at desktop*/
.event-nav-mobile,
.event-nav-mobile.form-control,
.scotch-panel{
	//display:none;
}

.pushy-open-right #container #right {
    margin-top: 0;
}

.pushy-open-right #nav-icon {
    display: none;
}

.pushy{
    visibility: hidden;
}

.toggle-panel { display: none; }



//Dropdown Navigation
.dropdown {
    position: relative;
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 250px;
        box-shadow: 0px .8rem 1.6rem 0px rgba(0,0,0,0.2);
        border-left:5px solid $yollo-red;
        z-index: 999;
        margin-top: -5px;

        .event-nav li {
            width: 100%;
            margin-right: 0; 
            
            a{
                padding: 12px 0;
            }
        }
        
        .event-nav li:hover{
            cursor: pointer;
            background: #e6e6e6; 
        }
    }
    
    &:hover .dropdown-content {
        display: block;
    }
    
}



