
#right .event-hero{
    width: 100%;
    min-height: 420px;
    display: flex;
    align-items: stretch; 
    background-color: #cecece;
    background-size: cover;
    position: relative;
    margin-bottom: 24px;

    @media only screen and (max-width:600px){
        background-position-x: center;
    }
    
    .event-hero__details{
        width: 420px;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        color: #fff;
        backdrop-filter: blur(2px);
        height: 100%; 
        text-align: center;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap; 

        @media only screen and (max-width:600px){
            width:100%;
            height: auto;
            position: relative;
        }
    }

    .event-hero__title{
        font-family: "Merriweather", serif;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1px;
        font-weight: 900;
        margin-bottom: 16px;
    }

    .event-hero__subtitle {
        font-family: "Merriweather",serif;
        font-weight: 500;
        font-style: italic;
    }
    
    .event-hero__location{
        font-size: 0.8125rem;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-family:"opensans-semibold", san-serif;
        line-height: 1;
        letter-spacing: 1px;

        &:before {
            content: "\f3c5";
            font-family: "Font Awesome 5 Free";  
            font-weight: 900;
            margin-right: 0.5rem;
            font-size: inherit;
        }
    }
    
    .event-hero__btn{
        padding: 0.875rem;
        max-width: 250px;
        display: inline-block;
        font-size: 0.875rem;
        line-height: 1;
        text-transform: uppercase;
        margin: 0 auto 24px;

        &:active{
            background-color: $yollo-red--hover;
        }
    }

    .event-hero__buttons {
        display: flex;
        flex-direction: row; 
        gap: 8px; 
        justify-content: center;
        margin-bottom: 24px;

        .event-hero__btn{
            margin: 0;
            @media screen and (max-width: 480px){
                min-width: 125px;
            }
        }
     }
    
    .event-hero__date{
        font-size: 18px;
        line-height: 1;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: "opensans", Arial, sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
        
        &:before {
            content: "\f073"; 
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            margin-right: 0.5rem; 
            font-size: inherit;
        }
    }
      
    .event-hero__timer{
        font-family: "opensans", Arial, sans-serif;
        display: flex;
        grid-gap: 10px;
        align-items: center;
        justify-content: center; 
        
        span{
            display: inline-block;
            font-size: 1rem;
            line-height: 1;
            text-align: center;
            width: 60px;
            font-family: "opensans-bold",Arial,sans-serif;
            color: #000;
            border-radius:8px;
            padding: 8px 16px;
            width: auto;
            background-color: rgba(255,255,255,1);
            
            em{
                display: block;
                font-size: 14px;
                font-family: "opensans-bold",Arial,sans-serif;
                margin-top:2px;
            }
        }
    }
    
    
    
}