/*Flex Sticky Footer*/

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#wrap {
	flex: 1 0 auto;
}

footer {
  flex-shrink: 0; /* 2 */
}


/*Footer Styles*/		
footer{
	background:#222; 
	width:100%;
	padding:4rem 0;
	
	
	.footer-grid{
		width:1200px;
		margin:0 auto;
		display: grid;
		grid-template-columns: repeat(4, 30rem);
		grid-gap: 0 1.5rem;
	}
	
	.foot-about{
		
		*:not(h5){
			font-size:1.4rem;
		}
		
	}
	
	.foot-events{
		
		.event{
			display:grid;
			grid-template-areas:"event-img event-content";
			grid-template-columns:10rem 1fr;
			grid-gap:0 1.5rem;
			margin-bottom:2rem;
			
			.event-img{
				grid-area:event-img;
			}
			
			.event-content{
				grid-area:event-content;

				*{
					margin-bottom:0;
					font-size:1.4rem;
				}
			}
		}
		
		img{
			width:9.5rem;
		}
		
				
			
	}
}


footer, 
footer *{ 
	color:lighten($font-color, 60%);
}

footer hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: #555;
}

footer a {
  color: lighten($link-color, 10%);
  font-weight: 700;
}

footer a:hover {
  text-decoration: none;
}

.foot-wrap {
  display: block;
  margin: 0 auto;
  width: 1200px;
}

.foot-header {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.footer-logo {
  width: 150px;
}

.footer-logo img {
  width: 100%;
  height: auto;
  margin-left: -10px;
}

.foot-slogan {
  position: absolute;
  top: 24px;
  left: 140px;
  width: 300px; 
  color: lighten($font-color, 40%);
}

.foot-affiliates {
    display: flex;
    justify-content: center;
	
	strong {
  		text-transform: uppercase;
	}
}

.foot-columns {
  display: flex;
  overflow: hidden;
  margin-bottom: 3rem;
}

.foot-columns .foot-col1,
.foot-columns .foot-col2,
.foot-columns .foot-col3 {
  float: left;
  width: 40rem;
}

.foot-columns .foot-col1 p,
.foot-columns .foot-col2 p,
.foot-columns .foot-col3 p {
  font-weight: 700;
  font-size: 1.6rem;
}

.foot-columns .foot-col1,
.foot-columns .foot-col2 {
  padding-right: 20px;
  border-right: 1px solid #555;
}

.foot-columns .foot-col2,
.foot-columns .foot-col3 {
  padding-left: 20px;
}

.foot-col3 a:not(:last-child) {
    margin-right: 1rem;
}
