/*helper classes*/

  
  .img-responsive{
	  max-width: 100%;
	  height: auto;
  }

  /* Margin Classes */
  ///  Margin Classes SASS Loop
  ///  generates utility classes for margins
  ///  directions: mt, mr, mb, ml (top right bottom left)
  ///  e.g. mt-5, mt-10, mt-20, mt-40
  
  $margin-sm: 0.5rem;
  $margin-md: 1rem;
  $margin-lg: 2rem;
  $margin-xl: 4rem;

  $margins: (5: $margin-sm, 10: $margin-md, 20: $margin-lg, 40: $margin-xl);
  $directions: (t: top, l: left, b: bottom, r: right);

  @each $size, $value in $margins {
    @each $dir, $prop in $directions {
      .m#{$dir}-#{$size} {
        margin-#{$prop}: $value;
      }
    }
  }
  
  
  .close-x{
    width: 32px;
    height: 32px;
    opacity: 0.3;
	  
	  &:hover {
			opacity: 1;
	  }
	  
	  &:before, 
	  &:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #333;
	  }
	  
	  &:before {
		transform: rotate(45deg);
	  }
	  &:after {
		transform: rotate(-45deg);
	  }
  }
  
  
  /*Remove Cognito Logo from Form*/
  .cognito form + div {
	  opacity: 0!important;
	  visibility: hidden!important;
  }
  
  /*Fix Cognito breadcrumb */
  .cognito .c-forms-form .c-progress-steps li:before {
	  border-radius: 0;
	  font-size: 1.6rem!important;
	  padding: 0!important;
  }
  
  /*Fix help text in Cognito*/
  .cognito .c-helptext p {
	  font-size: 1.2rem;
	  line-height: 1.5;
	  color: #333;
  } 
  
  /*Remove Event Page Social Aside*/
  
  #event-pg{
  
	  aside#social{
		  display: none;
	  }
  
	  #left{
		  width: 25%;
	  }
  
	  #right{
		  width: 75%;
		  padding-right: 0;
	  }
  
  }
  
  .gray-100{background-color: #f8f9fa;}
  .gray-200{background-color: #e9ecef;}
  .gray-300{background-color: #dee2e6;}
  .gray-400{background-color: #ced4da;}
  .gray-500{background-color: #adb5bd;}
  .gray-600{background-color: #6c757d;}
  .gray-700{background-color: #495057;}
  .gray-800{background-color: #343a40;}
  .gray-900{background-color: #212529;}

  .sans-serif{
    font-family: 'opensans', san-serif!important;
  }

  .sans-serif-light{
    font-family: 'opensans-lite', san-serif!important;
  }


