.hotel-box-container{
	display: grid;
    grid-auto-columns: minmax(25%, 100%);
    grid-auto-flow: column;
    grid-gap: 0 2rem;
	
	//ms prefix
	display: -ms-grid;
	-ms-grid-columns:48% 4% 48%;
	
	margin-bottom:4rem;
}

.hotel-box * {
  box-sizing: border-box;
  
}


.hotel-box {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: left;
  font-size: 1.6rem;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  object-fit: cover;
 // padding:1rem; 
  
	&:first-child {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		
		grid-column: 1;
		grid-row: 1;
	}

	&:last-child {
		-ms-grid-column: 3;
		-ms-grid-row: 1;
		
		grid-column: 2;
		grid-row: 1;
	}

	&:only-of-type {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		-ms-grid-column-span:3;
		
		grid-column: 1;
		grid-row: 1;
	}
	
 	 &:before{
		font-family:"fontAwesome";
		content: "\f236";
		font-size: 1.6rem;
		position:absolute;
		top: 2rem;
    	left: 2rem;
		text-align: center;
		background-color: rgba(0,0,0,0.65);
		border: 1px solid #fff;
		padding: .25rem .75rem;
	}
}


.hotel-box:nth-child(3n+0){
	margin-right:0;
}

.hotel-box .hotel-title{
	background:$yollo-red;	
	bottom:0;
	padding:2rem;	
}



.hotel-box .hotel-title h3{
	font-weight:700;
	text-transform: uppercase;
  	font-size: 1.4rem;
  	text-align: center; 
}


.hotel-box img { 
  vertical-align: top;
	    height: 15rem;
    max-height: 15rem;
	width: 100%; 
  /*height: 25rem;
  object-fit: cover;*/
}


.hotel-box h3,
.hotel-box h5 {
  margin: 0;
  letter-spacing: 1px;
}

.hotel-box h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

.hotel-box h5 {
  font-weight: normal;
}


// Newer Hotel Container

.hotel-grid{
    display: grid;
    grid-template-areas:
        "hotel-image hotel-body";
    grid-template-columns: 30% 1fr;
    border: 1px solid #eee;
    box-shadow: inset -5px 0px 0 0px #9E1421;
    border-radius: 1px;
    margin-bottom: 4rem;
    
    /*hotel image*/
    .hg-img{
        grid-area: hotel-image;
        
        figure{
            height: 100%; 
        }
    }
    
    /*hotel content*/
    .hg-body{
        grid-area: hotel-body;
        padding: 3rem 2rem 4rem;
        
        .hg-title{
            font-size: 2rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
            
            span.sold{
                font-size: 1.2rem;
                text-transform: uppercase;
                color:#9E1421;
            }
        }
        
        /*Hotel Address*/
        address{
            color:#666;
            font-size: 1.4rem;
            
            i{
                color:#9E1421;
                margin-right:0.5rem;
            }
        }
    }
    
}// end of hotel-grid

//Host Styles for Hotel Grid
.hotel-grid--host {
    position: relative;
}

.hotel-grid--host:after {
    content: "Host Property";
    position: absolute;
    background: #9E1421;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    right: 0;
    top: -28px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

