
.price-table-container{
	display: grid;
	grid-gap:2rem 2rem;
	grid-auto-columns:auto;
	grid-auto-flow: column;
	
	//ms prefix
	display: -ms-grid;
	-ms-grid-columns:48% 4% 48%
}



.price-table{
	
	&:first-child{
		grid-column:1;
		-ms-grid-column:1;
	}
	
	&:last-child{
		grid-column:2;
		-ms-grid-column:3;
	}
	
	li:not(.header){
		text-align: center;
		margin: 0 auto;
		display: block;
		//padding-left: 20%;
		//padding-right: 20%;
	}

	li:last-of-type{
		padding:0 2rem;
	}
	
	&:only-of-type .priceblock li span{
		display: block;
		width: 100%;
	}

		
}


/* Style the list */
.price-table .price {
	list-style-type: none;
	border: 1px solid #e9e9e9;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	margin-left:0;
	
	/* Add shadows on hover */
	&:hover {
		box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
	}

	
	/* Pricing header */
	.header {
		text-align:center;
		color: #111;
		font-size: 2rem;
		justify-content: center;
		padding-top: 2rem;
		padding-bottom: 3rem;
		flex-direction: column;
		text-transform: uppercase;
		font-weight:700;
		
		span{
			width:100%;
			display: block;
			font-size:1.4rem;
			font-weight:400;
		}
	}
}



/* List items */
.price-table .price > li {
	border-bottom: 1px solid #eee;
	padding: 1rem 2rem;
	text-align: left;
	font-size: 1.6rem;
	width:100%;
	display: flex;
	font-weight:400;
	margin: 0;
	
	.btn {
		 margin: 2rem auto;
		 padding: 1rem 4rem;
	}
	
	&.checked,
	&.ex{
		display: block;
		padding-left: 4rem;
	}
}

.price-table .price li.checked:before {
	content: "\f00c";
	font-family: "fontAwesome";
	color:#4CAF50;
	margin-left: -2rem;
    position: absolute;
}

.price-table .price li.ex:before {
	content: "\f00d";
	font-family: "fontAwesome";
	color:#A31523;
	margin-left: -2rem;
    position: absolute;
}

.price-table .price > li:nth-child(even) {
	background: #F4F4F4;
}



.people-price ul{
	margin-bottom:none;
	margin-left:0;
	border-bottom:none;
	width: 100%;
	
	li{
		margin-left:0;
		background: none;
		padding: 1rem 2rem;
		display: flex;
		flex-direction: column;
		font-size:1.4rem;
		font-weight:400;
		width:100%;
		
		span{
			width:100%;
			font-size:2rem;
			font-weight:700;
			display: block;
			
			em{
				font-weight: 700;
				font-size: 1.2rem;
			}
		}
	}
}
 