.uplift-info{
    background-color: #C2EBE7;
    color:#293132;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
    .uplift-info__list{
      display:flex;
      flex-wrap: wrap;
      gap:20px;
      
      div{
        display: flex;
        flex-flow: column wrap;
        flex: 1 0 200px;
            p:last-child{
                margin-bottom: 0;
            }
      }
      
      .uplift-info__number{
        font-family:"opensans", san-serif;
        font-size: 1rem;
        border: 2px solid white;
        background-color:#293132;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        line-height: 25px;
        margin: 0 auto 20px;
        color: white;
        box-sizing: border-box; 
      }
    }
    .uplift-info__disclosure{
        p{
            font-size: 12px;
            color:#293132;
            text-align: left;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
  }