:root {
	/* body font size */
	--text-base-size: 1rem;
	--yollo-red: #9E1421;

  /*Breaks*/
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 991px;
}

/*Variables*/

$font-color: #222;
$link-color: #304cb2;
$hover-color: darken(#304cb2, 20%);
$disclosure-color: lighten($font-color, 20%);
$base-fontsize: 1.6rem;
$base-fontsize-sm: 1.2rem;
$base-fontsize-lg: 2.4rem;
$yollo-red: #9E1421;
$yollo-red--hover: darken(#9E1421, 10%);


$sans-serif: 'opensans', san-serif;
$sans-serif-light: 'opensans-lite', san-serif;
$serif: 'merriweather', Arial, sans-serif;

$heading-sizes: (
  h1: 2.488rem, //39.808px
  h2: 2.073rem, //33.168px
  h3: 1.728rem, //27.648px
  h4: 1.44rem, //23.04px
  h5: 1.2rem, //19.2px
  h6: 1rem, //16px
  p: 1.125rem //18px
);

@each $tag, $size in $heading-sizes {
  #{$tag},
  .#{$tag} {
    font-size: $size;
  }
}

$heading-sizes-mobile: (
  h1: 2.073rem, //33.168px
  h2: 1.728rem, //27.648px
  h3: 1.44rem, //23.04px
  h4: 1.2rem, //19.2px
  h5: 1rem, //16px
  h6: 0.906rem, //14.496px
  p: 1rem //16px
);

@media only screen and (max-width: 480px) {
  @each $tag, $size in $heading-sizes-mobile {
    #{$tag},
    .#{$tag} {
      font-size: $size;
    }
  }
}

/*
Example usage: Dont add font-size, just the include
.hero-title {
  @include responsive-heading(h1); 
}*/
@mixin responsive-heading($level) {
  font-size: map-get($heading-sizes, $level);
  @media only screen and (max-width: 480px) {
    font-size: map-get($heading-sizes-mobile, $level);
  }
}