/*Variables*/

$font-color: #222;
$link-color: #0065a2;
$disclosure-color: lighten($font-color, 20%);
$hover-color: lighten($link-color,20%);
$base-fontsize: 1.6rem;
$base-fontsize-sm: 1.2rem;
$base-fontsize-lg: 2.4rem;
$yollo-red: #9E1421;
